In [1]:
# Cleaned data in this folder

In [2]:
# Dependencies
import pandas as pd

In [4]:
# Read zipped csv file

df = pd.read_csv("employfund_data.zip", compression="zip", header=0)
df.head()

,DATA_AS_AT,TRANSACTION_ID,EXPENDITURE,STATE,JSKR_LINKAGE_KEY,STREAM_PLACEMENT_DESC,EF_CATEGORY_DESCRIPTION,DERIVED_DATE_OF_SERVICE,ACTIVITY_TYPE_DESC,ACTIVITY_SUB_DESC,EDUCATION_LEVEL_DESC,GENDER,INDIGENOUS,HOMELESS,PWD,CALD,REFUGEE,EX_OFFENDER,AGE_GROUP,UE_GROUP
0,2018-08-05,303887J,150.0,QLD,1,Stream A,Professional Services,2016-01-04,NaN,NaN,Bachelor Degree or equivalent,Female,NaN,NaN,NaN,1.0,NaN,NaN,50 to 54 years,Under 12 Months
1,2018-08-05,283232J,300.0,QLD,1,Stream A,Professional Services,2015-12-21,NaN,NaN,Bachelor Degree or equivalent,Female,NaN,NaN,NaN,1.0,NaN,NaN,50 to 54 years,Under 12 Months
2,2018-08-05,412011J,150.0,QLD,1,Stream A,Professional Services,2016-01-11,NaN,NaN,Bachelor Degree or equivalent,Female,NaN,NaN,NaN,1.0,NaN,NaN,50 to 54 years,Under 12 Months
3,2018-08-05,376042J,150.0,QLD,1,Stream A,Professional Services,2016-02-08,NaN,NaN,Bachelor Degree or equivalent,Female,NaN,NaN,NaN,1.0,NaN,NaN,50 to 54 years,Under 12 Months
4,2018-08-05,415778J,225.0,VIC,2,Stream C,Professional Services,2016-02-18,NaN,NaN,Diploma or equivalent,Female,NaN,1.0,NaN,NaN,NaN,NaN,25 to 29 years,24 to 59 Months

In [57]:
# Need to split date column into year, month, day for ease of manipulation by team.
# Split date column into year, month, day
yyyy_mm_dd_df = df.DERIVED_DATE_OF_SERVICE.str.split(pat='-', expand=True)

# Join new dataframe, onto original
df2 = df.join(yyyy_mm_dd_df, rsuffix="_created")
# Rename int header names to year, month, day
df2 = df2.rename(columns={0: "YEAR", 1: "MONTH", 2: "DAY"})
# Convert y,m,d columns into integer values
df2["YEAR"] = df2["YEAR"].astype(int)
df2["MONTH"] = df2["MONTH"].astype(int)
df2["DAY"] = df2["DAY"].astype(int)

# Create new file
df2.to_csv("employfund_data_datesplit.zip", index=False, header=True)
df2.head()

,DATA_AS_AT,TRANSACTION_ID,EXPENDITURE,STATE,JSKR_LINKAGE_KEY,STREAM_PLACEMENT_DESC,EF_CATEGORY_DESCRIPTION,DERIVED_DATE_OF_SERVICE,ACTIVITY_TYPE_DESC,ACTIVITY_SUB_DESC,...,HOMELESS,PWD,CALD,REFUGEE,EX_OFFENDER,AGE_GROUP,UE_GROUP,YEAR,MONTH,DAY
0,2018-08-05,303887J,150.0,QLD,1,Stream A,Professional Services,2016-01-04,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,50 to 54 years,Under 12 Months,2016,1,4
1,2018-08-05,283232J,300.0,QLD,1,Stream A,Professional Services,2015-12-21,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,50 to 54 years,Under 12 Months,2015,12,21
2,2018-08-05,412011J,150.0,QLD,1,Stream A,Professional Services,2016-01-11,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,50 to 54 years,Under 12 Months,2016,1,11
3,2018-08-05,376042J,150.0,QLD,1,Stream A,Professional Services,2016-02-08,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,50 to 54 years,Under 12 Months,2016,2,8
4,2018-08-05,415778J,225.0,VIC,2,Stream C,Professional Services,2016-02-18,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,25 to 29 years,24 to 59 Months,2016,2,18

In [45]:
df2.columns

Index(['DATA_AS_AT', 'TRANSACTION_ID', 'EXPENDITURE', 'STATE',
       'JSKR_LINKAGE_KEY', 'STREAM_PLACEMENT_DESC', 'EF_CATEGORY_DESCRIPTION',
       'DERIVED_DATE_OF_SERVICE', 'ACTIVITY_TYPE_DESC', 'ACTIVITY_SUB_DESC',
       'EDUCATION_LEVEL_DESC', 'GENDER', 'INDIGENOUS', 'HOMELESS', 'PWD',
       'CALD', 'REFUGEE', 'EX_OFFENDER', 'AGE_GROUP', 'UE_GROUP', 'YEAR',
       'MONTH', 'DAY'],
      dtype='object')

In [50]:
# Investigate dates to ensure completeness of data, makes sense
print(df2["YEAR"].unique())
print(df2["YEAR"].value_counts())

# 2018 & 19 appear to have incomplete data. Therefore will delete all data after 2017

['2016' '2015' '2017' '2047' '2018' '2216' '2019' '2160' '2106' '6140'
 '2170' '2020' '2027' '2046' '2201' '2406' '6116' '5016' '2061' '7201'
 '5017' '2105']
2016    652232
2017    405745
2015    176428
2018        20
2019        10
2160         6
2047         3
2216         3
2020         2
2106         2
6140         1
2170         1
2027         1
2046         1
2201         1
2406         1
6116         1
5016         1
2061         1
7201         1
5017         1
2105         1
Name: YEAR, dtype: int64

In [63]:
#Delete all data from 2018 onwards
df3 = df2.loc[(df2["YEAR"] == 2015) | (df2["YEAR"] == 2016) | (df2["YEAR"] == 2017)]
df3

,DATA_AS_AT,TRANSACTION_ID,EXPENDITURE,STATE,JSKR_LINKAGE_KEY,STREAM_PLACEMENT_DESC,EF_CATEGORY_DESCRIPTION,DERIVED_DATE_OF_SERVICE,ACTIVITY_TYPE_DESC,ACTIVITY_SUB_DESC,...,HOMELESS,PWD,CALD,REFUGEE,EX_OFFENDER,AGE_GROUP,UE_GROUP,YEAR,MONTH,DAY
0,2018-08-05,303887J,150.0,QLD,1,Stream A,Professional Services,2016-01-04,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,50 to 54 years,Under 12 Months,2016,1,4
1,2018-08-05,283232J,300.0,QLD,1,Stream A,Professional Services,2015-12-21,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,50 to 54 years,Under 12 Months,2015,12,21
2,2018-08-05,412011J,150.0,QLD,1,Stream A,Professional Services,2016-01-11,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,50 to 54 years,Under 12 Months,2016,1,11
3,2018-08-05,376042J,150.0,QLD,1,Stream A,Professional Services,2016-02-08,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,50 to 54 years,Under 12 Months,2016,2,8
4,2018-08-05,415778J,225.0,VIC,2,Stream C,Professional Services,2016-02-18,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,25 to 29 years,24 to 59 Months,2016,2,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234458,2018-08-05,1297015J,125.4,NSW,912599,Stream A,Professional Services,2016-11-29,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,55 to 59 years,Under 12 Months,2016,11,29
1234459,2018-08-05,1239780J,125.4,NSW,912599,Stream A,Professional Services,2016-11-15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,55 to 59 years,Under 12 Months,2016,11,15
1234460,2018-08-05,1360007J,125.4,NSW,912599,Stream A,Professional Services,2016-12-13,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,55 to 59 years,Under 12 Months,2016,12,13
1234461,2018-08-05,278868J,44.9,SA,912603,Stream A,Work Related Items,2015-10-29,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,30 to 39 years,12 to 23 Months,2015,10,29
1234462,2018-08-05,279180J,211.2,SA,912603,Stream A,Work Related Items,2015-11-12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,30 to 39 years,12 to 23 Months,2015,11,12