In [64]:
# Cleaned data in this folder

In [4]:
# Dependencies
import pandas as pd

In [6]:
# Read zipped csv file
# Want to keep null values, not filtered as NaN

df = pd.read_csv("employfund_data.zip", compression="zip", header=0, na_filter=False)
df.head()

,DATA_AS_AT,TRANSACTION_ID,EXPENDITURE,STATE,JSKR_LINKAGE_KEY,STREAM_PLACEMENT_DESC,EF_CATEGORY_DESCRIPTION,DERIVED_DATE_OF_SERVICE,ACTIVITY_TYPE_DESC,ACTIVITY_SUB_DESC,EDUCATION_LEVEL_DESC,GENDER,INDIGENOUS,HOMELESS,PWD,CALD,REFUGEE,EX_OFFENDER,AGE_GROUP,UE_GROUP
0,2018-08-05,303887J,150.0,QLD,1,Stream A,Professional Services,2016-01-04,NULL,NULL,Bachelor Degree or equivalent,Female,NULL,NULL,NULL,1,NULL,NULL,50 to 54 years,Under 12 Months
1,2018-08-05,283232J,300.0,QLD,1,Stream A,Professional Services,2015-12-21,NULL,NULL,Bachelor Degree or equivalent,Female,NULL,NULL,NULL,1,NULL,NULL,50 to 54 years,Under 12 Months
2,2018-08-05,412011J,150.0,QLD,1,Stream A,Professional Services,2016-01-11,NULL,NULL,Bachelor Degree or equivalent,Female,NULL,NULL,NULL,1,NULL,NULL,50 to 54 years,Under 12 Months
3,2018-08-05,376042J,150.0,QLD,1,Stream A,Professional Services,2016-02-08,NULL,NULL,Bachelor Degree or equivalent,Female,NULL,NULL,NULL,1,NULL,NULL,50 to 54 years,Under 12 Months
4,2018-08-05,415778J,225.0,VIC,2,Stream C,Professional Services,2016-02-18,NULL,NULL,Diploma or equivalent,Female,NULL,1,NULL,NULL,NULL,NULL,25 to 29 years,24 to 59 Months

In [7]:
# Need to split date column into year, month, day for ease of manipulation by team.
# Split date column into year, month, day
yyyy_mm_dd_df = df.DERIVED_DATE_OF_SERVICE.str.split(pat='-', expand=True)

# Join new dataframe, onto original
df2 = df.join(yyyy_mm_dd_df, rsuffix="_created")
# Rename int header names to year, month, day
df2 = df2.rename(columns={0: "YEAR", 1: "MONTH", 2: "DAY"})
# Convert y,m,d columns into integer values
df2["YEAR"] = df2["YEAR"].astype(int)
df2["MONTH"] = df2["MONTH"].astype(int)
df2["DAY"] = df2["DAY"].astype(int)

In [8]:
df2.columns

Index(['DATA_AS_AT', 'TRANSACTION_ID', 'EXPENDITURE', 'STATE',
       'JSKR_LINKAGE_KEY', 'STREAM_PLACEMENT_DESC', 'EF_CATEGORY_DESCRIPTION',
       'DERIVED_DATE_OF_SERVICE', 'ACTIVITY_TYPE_DESC', 'ACTIVITY_SUB_DESC',
       'EDUCATION_LEVEL_DESC', 'GENDER', 'INDIGENOUS', 'HOMELESS', 'PWD',
       'CALD', 'REFUGEE', 'EX_OFFENDER', 'AGE_GROUP', 'UE_GROUP', 'YEAR',
       'MONTH', 'DAY'],
      dtype='object')

In [9]:
# Investigate dates to ensure completeness of data, makes sense
print(df2["YEAR"].unique())
print(df2["YEAR"].value_counts())

# 2018 & 19 appear to have incomplete data. Therefore will delete all data after 2017

[2016 2015 2017 2047 2018 2216 2019 2160 2106 6140 2170 2020 2027 2046
 2201 2406 6116 5016 2061 7201 5017 2105]
2016    652232
2017    405745
2015    176428
2018        20
2019        10
2160         6
2047         3
2216         3
2020         2
2106         2
6140         1
2170         1
2027         1
2046         1
2201         1
2406         1
6116         1
5016         1
2061         1
7201         1
5017         1
2105         1
Name: YEAR, dtype: int64

In [10]:
#Delete all data from 2018 onwards
df3 = df2.loc[(df2["YEAR"] == 2015) | (df2["YEAR"] == 2016) | (df2["YEAR"] == 2017)]
df3

,DATA_AS_AT,TRANSACTION_ID,EXPENDITURE,STATE,JSKR_LINKAGE_KEY,STREAM_PLACEMENT_DESC,EF_CATEGORY_DESCRIPTION,DERIVED_DATE_OF_SERVICE,ACTIVITY_TYPE_DESC,ACTIVITY_SUB_DESC,...,HOMELESS,PWD,CALD,REFUGEE,EX_OFFENDER,AGE_GROUP,UE_GROUP,YEAR,MONTH,DAY
0,2018-08-05,303887J,150.0,QLD,1,Stream A,Professional Services,2016-01-04,NULL,NULL,...,NULL,NULL,1,NULL,NULL,50 to 54 years,Under 12 Months,2016,1,4
1,2018-08-05,283232J,300.0,QLD,1,Stream A,Professional Services,2015-12-21,NULL,NULL,...,NULL,NULL,1,NULL,NULL,50 to 54 years,Under 12 Months,2015,12,21
2,2018-08-05,412011J,150.0,QLD,1,Stream A,Professional Services,2016-01-11,NULL,NULL,...,NULL,NULL,1,NULL,NULL,50 to 54 years,Under 12 Months,2016,1,11
3,2018-08-05,376042J,150.0,QLD,1,Stream A,Professional Services,2016-02-08,NULL,NULL,...,NULL,NULL,1,NULL,NULL,50 to 54 years,Under 12 Months,2016,2,8
4,2018-08-05,415778J,225.0,VIC,2,Stream C,Professional Services,2016-02-18,NULL,NULL,...,1,NULL,NULL,NULL,NULL,25 to 29 years,24 to 59 Months,2016,2,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234458,2018-08-05,1297015J,125.4,NSW,912599,Stream A,Professional Services,2016-11-29,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,55 to 59 years,Under 12 Months,2016,11,29
1234459,2018-08-05,1239780J,125.4,NSW,912599,Stream A,Professional Services,2016-11-15,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,55 to 59 years,Under 12 Months,2016,11,15
1234460,2018-08-05,1360007J,125.4,NSW,912599,Stream A,Professional Services,2016-12-13,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,55 to 59 years,Under 12 Months,2016,12,13
1234461,2018-08-05,278868J,44.9,SA,912603,Stream A,Work Related Items,2015-10-29,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,30 to 39 years,12 to 23 Months,2015,10,29
1234462,2018-08-05,279180J,211.2,SA,912603,Stream A,Work Related Items,2015-11-12,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,30 to 39 years,12 to 23 Months,2015,11,12

In [11]:
# Create new file
df3.to_csv("employfund_data_datesplit.zip", index=False, header=True)
df3.head()

,DATA_AS_AT,TRANSACTION_ID,EXPENDITURE,STATE,JSKR_LINKAGE_KEY,STREAM_PLACEMENT_DESC,EF_CATEGORY_DESCRIPTION,DERIVED_DATE_OF_SERVICE,ACTIVITY_TYPE_DESC,ACTIVITY_SUB_DESC,...,HOMELESS,PWD,CALD,REFUGEE,EX_OFFENDER,AGE_GROUP,UE_GROUP,YEAR,MONTH,DAY
0,2018-08-05,303887J,150.0,QLD,1,Stream A,Professional Services,2016-01-04,NULL,NULL,...,NULL,NULL,1,NULL,NULL,50 to 54 years,Under 12 Months,2016,1,4
1,2018-08-05,283232J,300.0,QLD,1,Stream A,Professional Services,2015-12-21,NULL,NULL,...,NULL,NULL,1,NULL,NULL,50 to 54 years,Under 12 Months,2015,12,21
2,2018-08-05,412011J,150.0,QLD,1,Stream A,Professional Services,2016-01-11,NULL,NULL,...,NULL,NULL,1,NULL,NULL,50 to 54 years,Under 12 Months,2016,1,11
3,2018-08-05,376042J,150.0,QLD,1,Stream A,Professional Services,2016-02-08,NULL,NULL,...,NULL,NULL,1,NULL,NULL,50 to 54 years,Under 12 Months,2016,2,8
4,2018-08-05,415778J,225.0,VIC,2,Stream C,Professional Services,2016-02-18,NULL,NULL,...,1,NULL,NULL,NULL,NULL,25 to 29 years,24 to 59 Months,2016,2,18

In [12]:
# Columns of df3
df3.columns

Index(['DATA_AS_AT', 'TRANSACTION_ID', 'EXPENDITURE', 'STATE',
       'JSKR_LINKAGE_KEY', 'STREAM_PLACEMENT_DESC', 'EF_CATEGORY_DESCRIPTION',
       'DERIVED_DATE_OF_SERVICE', 'ACTIVITY_TYPE_DESC', 'ACTIVITY_SUB_DESC',
       'EDUCATION_LEVEL_DESC', 'GENDER', 'INDIGENOUS', 'HOMELESS', 'PWD',
       'CALD', 'REFUGEE', 'EX_OFFENDER', 'AGE_GROUP', 'UE_GROUP', 'YEAR',
       'MONTH', 'DAY'],
      dtype='object')

In [13]:
# Find unique values in all fields
print(f"STATE: {df3.STATE.unique()}")
print(f"stream placement desc: {df3.STREAM_PLACEMENT_DESC.unique()}")
print(f"EF CATERGORY DESCRIPTION: {df3.EF_CATEGORY_DESCRIPTION.unique()}")
print(f"ACTIVITY TYPE DESC: {df3.ACTIVITY_TYPE_DESC.unique()}")
print(F"JSKR_LINKAGE_KEY: {df3.JSKR_LINKAGE_KEY.unique()}")
print(F"EF_CATEGORY_DESCRIPTION: {df3.EF_CATEGORY_DESCRIPTION.unique()}")
print(F"ACTIVITY_TYPE_DESC: {df3.ACTIVITY_TYPE_DESC.unique()}")
print(F"ACTIVITY_SUB_DESC: {df3.ACTIVITY_SUB_DESC.unique()}")
print(F"EDUCATION_LEVEL_DESC: {df3.EDUCATION_LEVEL_DESC.unique()}")
print(F"INDIGENOUS: {df3.INDIGENOUS.unique()}")
print(F"HOMELESS: {df3.HOMELESS.unique()}")
print(F"PWD: {df3.PWD.unique()}")
print(F"CALD: {df3.CALD.unique()}")
print(F"REFUGEE: {df3.REFUGEE.unique()}")
print(F"EX_OFFENDER: {df3.EX_OFFENDER.unique()}")
print(F"AGE_GROUP: {df3.AGE_GROUP.unique()}")
print(F"UE_GROUP: {df3.UE_GROUP.unique()}")

STATE: ['QLD' 'VIC' 'SA ' 'NSW' 'WA ' 'TAS' 'ACT' 'NT ']
stream placement desc: ['Stream A' 'Stream C' 'Stream B' 'Stream Volunteer' 'NULL']
EF CATERGORY DESCRIPTION: ['Professional Services' 'Food, Phone and Petrol Cards/Vouchers'
 'Job Seeker Transport' 'Work Related Items' 'Accredited Training'
 'Clothing and Presentation' 'Work Related Licencing'
 'Accredited Interpreter Services' 'Targeted Pre-Employment Preparation'
 'Tools, Books, Equipment and Mobile Phones'
 'Rent and Crisis Accommodation ' 'Stream C only Assistance'
 'Driving Lessons' 'Medical Expenses'
 'Non-government Programmes - DEPT approved'
 'Employer Required Training (non-accredited)' 'Post Placement Support'
 'Non-WfD Activity Costs' 'Work Trials' 'PaTH Internship Placement Costs'
 'Relocation Assistance']
ACTIVITY TYPE DESC: ['NULL' 'Accredited Education and Training (Vocational)'
 'Non-Accredited Education and Training (Vocational)'
 'Other Government Programmes'
 'Voluntary Work in community/non profit sector'
 'Non Vocational Assistance' 'Work for the Dole']
JSKR_LINKAGE_KEY: [     1      2      7 ... 912595 912599 912603]
EF_CATEGORY_DESCRIPTION: ['Professional Services' 'Food, Phone and Petrol Cards/Vouchers'
 'Job Seeker Transport' 'Work Related Items' 'Accredited Training'
 'Clothing and Presentation' 'Work Related Licencing'
 'Accredited Interpreter Services' 'Targeted Pre-Employment Preparation'
 'Tools, Books, Equipment and Mobile Phones'
 'Rent and Crisis Accommodation ' 'Stream C only Assistance'
 'Driving Lessons' 'Medical Expenses'
 'Non-government Programmes - DEPT approved'
 'Employer Required Training (non-accredited)' 'Post Placement Support'
 'Non-WfD Activity Costs' 'Work Trials' 'PaTH Internship Placement Costs'
 'Relocation Assistance']
ACTIVITY_TYPE_DESC: ['NULL' 'Accredited Education and Training (Vocational)'
 'Non-Accredited Education and Training (Vocational)'
 'Other Government Programmes'
 'Voluntary Work in community/non profit sector'
 'Non Vocational Assistance' 'Work for the Dole']
ACTIVITY_SUB_DESC: ['NULL' 'Certificate 3' 'Pre-Employment Training' 'Accredited Units'
 'Employability Skills' 'Certificate 2' 'Accredited Skill Set'
 'Cwth Adult Migrant English Programme' 'Certificate 1 - LLN'
 'Certificate 1' 'Certificate 4' 'Accredited Units - LLN' 'Diploma'
 'Certificate 3 - LLN' 'Certificate 2 - LLN' 'Personal Development'
 'Secondary School' 'Advanced Diploma' 'Other Government Programmes'
 'Skills for Education and Employment'
 'Vocational, Training and Employment Centres' 'Other'
 'Interpersonal Skills (non-vocational)' 'Bachelor Degree'
 'University (6 mths or 1 semester remaining)' 'Certificate 4 - LLN'
 'Associate Degree' 'General' 'Postgraduate Certificate'
 'Postgraduate Diploma' 'Master Degree']
EDUCATION_LEVEL_DESC: ['Bachelor Degree or equivalent' 'Diploma or equivalent'
 'Primary school or less than Year 10' 'Year 10/11'
 'Non-trade vocational education'
 'Secondary schooling completed (Year 12/13)'
 'Graduate Certificate or equivalent' 'Did not go to school'
 'Trades qualification' 'Post-graduate' 'Graduate Diploma or equivalent'
 'UKN' 'Trade or TAFE qualification' 'NULL'
 'Special school or special support unit'
 'Ed Quals-Secondary Schooling Completed' 'Degree'
 'Ed Quals-Less than Year 10' 'Ed Quals-Year 10 Completed' 'Diploma'
 'Ed Quals-Degree' 'Ed Quals-Trade/TAFE qualification'
 'Ed Quals-Primary School Comp' 'Ed Quals-Year 11 Completed'
 'Ed Quals-Associate Diploma' 'Ed Quals-Job seeker did not go to school'
 'Ed Quals-Post Graduate' 'Ed Quals-Not volunteered']
INDIGENOUS: ['NULL' '1']
HOMELESS: ['NULL' '1']
PWD: ['NULL' '1']
CALD: ['1' 'NULL']
REFUGEE: ['NULL' '1']
EX_OFFENDER: ['NULL' '1']
AGE_GROUP: ['50 to 54 years' '25 to 29 years' '30 to 39 years' 'Under 22 years'
 '22 to 24 years' '40 to 49 years' '55 to 59 years' '60+ years' 'NULL']
UE_GROUP: ['Under 12 Months' '24 to 59 Months' '60+ Months' '12 to 23 Months' 'NULL']

In [14]:
# Investigate sctream placement desc "NaN"
df3.STREAM_PLACEMENT_DESC.value_counts()

# spd_NaN_df = df3.loc[(df3["STREAM_PLACEMENT_DESC"] == "nan")]
# spd_NaN_df

Stream B            491931
Stream C            414241
Stream A            323704
Stream Volunteer      4438
NULL                    91
Name: STREAM_PLACEMENT_DESC, dtype: int64